.main {
  border: 1px solid #000;
}

.socialMediaButtons {
  width: 100%;
  ul {
    display: block;
    padding: 0;
    margin: 10px auto;
    float: left;
  }
  li {
    list-style: none;
    background: #000;
    margin: 0 10px;
    float: left;
  }
  li a {
    width: 128px;
    height: 128px;
    display: block;
    float: left;
  }
  @each $ssnn in (twitter, facebook, googleplus) {
    li.$ssnn a {
      background-image: url('/img/$ssnn.png');
    }
  }
}
